<app-pop-up *ngIf="popUp" [id]="id" [(b)]="popUp"></app-pop-up>

<mat-card [ngClass]="popUp?'blur':'notBlur'" class="carte">
    <mat-card-header>
        <div class="flexou">
            <div class="element-flex-nontaille">
                    <p><b>Commentary :</b> {{this.test.comment}}</p>
                    <p><b>Action :</b>{{this.test.action.name}}</p>
                    <span><b>Estimator :</b><mat-checkbox class="example-margin" *ngFor="let est of this.test.observersList" (change)="updateCheck($event.checked,est.name,true)" [checked]="bindingEstimator[est.name]">{{est.name}}</mat-checkbox></span>
                    
                    <span><p></p><b>Cells :</b><mat-checkbox class="example-margin" *ngFor="let cell of this.test.cellsList"(change)="updateCheck($event.checked,cell.name,false)" [checked]="bindingCell[cell.name]">{{cell.name}}</mat-checkbox></span>
            </div>
            
            <div class="element-flex-nontaille">
                <canvasjs-chart [styles]="{width: '1200px', height:'100%'}"  [options]="chartOptionsCurrent"  (chartInstance)="getChartInstanceCurrent($event)"></canvasjs-chart>
            </div>
            <div  class="flexou">
                <!-- <div class="flexou"> -->
                    <h1 class="droite"color="primary"><mat-icon>temperature</mat-icon>{{this.temperature}}°C</h1>
                <!-- </div> -->
            </div>
            
        </div>
    </mat-card-header>
    <button *ngIf="this.test.running_bool" mat-flat-button [style]="{'background-color':'darkred'}" (click)="stopTest()">Stop the test<mat-icon>stop</mat-icon></button>
    <button *ngIf="!this.test.running_bool" [style]="{'background-color':'green'}" mat-flat-button (click)="startTest()">Start the test<mat-icon>play_arrow</mat-icon></button>
</mat-card>
<div class="container-flex" cdkDrop>
    <div class="element-flex" *ngFor="let cellElt of this.cellTab" [ngClass]="bindingCell[cellElt.cell.name]&&bindingEstimator[cellElt.estimator.name]?'display':'nondisplay'" >
        <app-graph *ngIf="bindingCell[cellElt.cell.name]&&bindingEstimator[cellElt.estimator.name]" [test]="this.test" [cell]="cellElt.cell" [estimator]="cellElt.estimator" ></app-graph>
    </div>
</div>
<!-- [ngClass]="bindingCell[cellElt.cell.name]&&bindingEstimator[cellElt.estimator.name]?'display':'nondisplay'" -->
<!-- *ngIf="bindingCell[cellElt.cell.name]&&bindingEstimator[cellElt.estimator.name]" -->