/* .carte{
    width:75%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left:150px;
    /* height:80%; 

} */





.flexou{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content:center;

}

.espace{
    margin-right: 20px;
}

.container-flex{
   margin-top:10px;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    /* flex-direction: row;  */
    /* justify-content: space-around; */
    /* align-items: flex-start;
    align-content: flex-start; */
}

.element-flex{
    width:25%;
    /* flex-basis: auto;
    flex-grow: 1; */
}

.element-flex-nontaille{
    margin:10px;
    flex-basis: auto;
    flex-grow: 1;
}

.droite{
    margin:10px;
    float:right;
    font-size: 100px;
    color:#2B3FB5;
}

.nondisplay{
    display:none;
}
.display{
    display:block;
}

.example-box{
    padding: 5px;
    border-bottom: solid 1px #ccc;
    /* color: rgba(0, 0, 0, 0.87); */
    color:#3F51B5;
    display: flex;
    flex-direction: row;
    margin:5px;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 2%;
    background: #f5f5f5;
    font-size: 14px;
}

.conteneur{

    overflow: auto;
    
    border-radius: 4px;
    /* padding: 10px; */
    overflow-y: scroll;
    height: 150px;
    background-color: white;
}

.droiteV{
    position:absolute;
    right:0px;
    top:0px;
    padding:0px;
    /* font-size: 20px; */
}