.carte{

    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    /* float:left; */
}

.carte-milieu{
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.page{
    width:25%;
}

.page-milieu{
    width:45%;
}

.page-milieu-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grandPage{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    /* same size */
    flex:auto;
}

.logo{
    position:absolute;
    width:10%;
    right:20px;
}

.logo-discord{
    position:absolute;
    width:10%;
    right:20px;
    top:20px;
}

.flexiCell{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}