<mat-card class="carte">
    <mat-card-header>
        <mat-card-title>Test creation </mat-card-title>
        <mat-card-subtitle>To create the test on the database</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <p>Action : </p>
        <mat-form-field>
          
            <mat-label>Action type</mat-label>
        <mat-select [value]="action">
            <mat-option *ngFor="let act of actions" [value]="act.id">{{act.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>
    <p>Cell : </p>
        <mat-form-field>
          
            <mat-label>Cells selected</mat-label>
        <mat-select [value]="cellSelected">
            <mat-option *ngFor="let cel of cells" [value]="cel.value">{{cel.name}}</mat-option>
        </mat-select>
    </mat-form-field>

        <mat-divider></mat-divider>

        <p>Estimator : </p>
        <mat-form-field>
          
            <mat-label>Estimator selected</mat-label>
        <mat-select [value]="cellSelected">
            <mat-option *ngFor="let cel of cells" [value]="cel.value">{{cel.name}}</mat-option>
        </mat-select>
    </mat-form-field>

        <mat-divider></mat-divider>

        <p>Commentary : </p>
        <mat-form-field>
            <mat-label>Commentary</mat-label>
            <textarea matInput [value]="comment"></textarea>
        </mat-form-field>
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Create the test</button>
    </mat-card-actions>
</mat-card>