<div class="grandPage">
    
    <!-- <div class="page"> -->
        <!-- put this one on left  -->
        <app-health-test ></app-health-test>
    <!-- </div> -->
    
    <div class="page-milieu">
        <!-- <div class="page-milieu-top"> -->
            <mat-card class="carte-milieu">
                <mat-card-header>
                    <mat-card-title>Dataset export </mat-card-title>
                    <mat-card-subtitle>To export dataset from the database</mat-card-subtitle>
                </mat-card-header>
                <p>Test : </p>
                <mat-form-field>
                    <mat-label>Test selected</mat-label>
                <mat-select [(value)]="this.testModel">
                    <mat-option  *ngFor="let test of tests" [value]="test.id">{{test.name()}}</mat-option>
                </mat-select>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-button (click)="downloadTest()">Export dataset</button>
                    <button mat-button color="warn" (click)="deleteTest()">Delete dataset</button>
                </mat-card-actions>
            </mat-card>
        

        <!-- </div> -->
       
    
    
    <mat-card class="carte">
        <mat-card-header>
            <mat-card-title>Cells SOC</mat-card-title>
            <mat-card-subtitle>Here is the SOC of each cells</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
            <div class="tableau">
                    <span class="ligne head">
                        <p><b>Name</b></p>
                        <p><b>SOC</b></p>
                            <p><b>R0 Max</b></p>
                            <p><b>R0 Avg</b></p>
                            <p><b>R0 Min</b></p>
                    </span>
                
                <div class="corps">
                    <div *ngFor="let stat of r0" class="ligne">
                        <div>
                            <p>{{stat.cell.name}}</p>
                        </div>
                        <!-- [style.width]="'10%'" -->
                            <div>
                                <mat-progress-bar mode="determinate" [value]="stat.cell.soc*100" [style.margin-top]="'15%'"  ></mat-progress-bar>
                            </div>
                            <div>
                                <p>{{math.round(stat.avgr0*100)/100}}</p>
                            </div>
                            <div>
                                <p>{{math.round(stat.maxr0*100)/100}}</p>
                            </div>
                            <div>
                                <p>{{math.round(stat.minr0*100)/100}}</p>
                            </div>
                    </div>
                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
    
    </div>
    
    
    <div class="page">
    
        <mat-card class="carte">
            <mat-card-header>
                <mat-card-title>Create new cell </mat-card-title>
                <mat-card-subtitle>To create a new cell into the database</mat-card-subtitle>
            </mat-card-header>
            <p>Cell name : </p>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [value]="newCellName"
                (input)="getValueCell($event)">
            </mat-form-field>
            <p>Cell SOC : </p>
            <mat-form-field>
                <mat-label>SOC</mat-label>
                <input matInput [value]="newCellSoc"
                (input)="getValueSocCell($event)">
            </mat-form-field>
            <mat-card-actions>
                <button mat-button (click)="createCell()">Create cell</button>
            </mat-card-actions>

            
        </mat-card>
    
    
    
    <mat-card class="carte">
        <mat-card-header>
            <mat-card-title>State of the devices </mat-card-title>
            <mat-card-subtitle>To see if all the devices of the system are ok</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <span [style.display]="'flex'"><p><b>Database</b></p><mat-icon *ngIf="this.database==true" color="primary">check_circle</mat-icon><mat-icon *ngIf="this.database==false" color="warn">close</mat-icon></span>
                <span [style.display]="'flex'"><p><b>Arduino</b></p><mat-icon *ngIf="this.arduino==true" color="primary">check_circle</mat-icon><mat-icon *ngIf="this.arduino==false" color="warn">close</mat-icon></span>
                <span [style.display]="'flex'"><p><b>Devices</b></p><mat-icon *ngIf="this.device==true" color="primary">check_circle</mat-icon><mat-icon *ngIf="this.device==false" color="warn">close</mat-icon></span>
                <span [style.display]="'flex'"><p><b>BMS</b></p><mat-icon *ngIf="this.bms==true" color="primary">check_circle</mat-icon><mat-icon *ngIf="this.bms==false" color="warn">close</mat-icon></span>
            </mat-list>

            <!-- <mat-list>
                <span *ngFor="let device of devices" [style.display]="'flex'" class="flexiCell">
                    <p><b>{{device.name}} :</b></p>
                    <mat-icon *ngIf="device.state==true" color="primary">check_circle</mat-icon>
                    <mat-icon *ngIf="device.state==false" color="warn">error</mat-icon>
                </span>
            </mat-list> -->
        </mat-card-content>
       
    </mat-card>


    <mat-card class="carte">
        <mat-card-header>
            <mat-card-title>Tests running </mat-card-title>
            <mat-card-subtitle>See all the test that are running</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <div *ngFor="let test of tests">
                    <div *ngIf="test.running_bool==true" [style.display]="'flex'" class="flexiCell" class="testObjet">
                        <div>
                            <p><b>Name:</b> {{test.name()}}</p>
                        </div>
                        <div>
                            <button mat-icon-button> <mat-icon *ngIf="test.running_bool==true" (click)="stopTest(test.id)" color="primary">stop</mat-icon></button>
                            <button mat-icon-button> <mat-icon *ngIf="test.running_bool==true" (click)="goToTest(test.id)" color="primary">remove_red_eye</mat-icon></button>
                        </div>
                    </div>
                </div>
            </mat-list>
        </mat-card-content>
       
    </mat-card>

    <mat-card class="carte">
        <mat-card-header>
            <mat-card-title>Discord server</mat-card-title>
            <mat-card-subtitle>Join the discord server to know when the tests are over</mat-card-subtitle>
            <img src="assets/image/discord-mark-black.png" alt="github commit picture" class="logo-discord"/>
        </mat-card-header>
        <p></p>
        <p></p>
        <p></p>
        <mat-card-content>
            <a href="https://discord.gg/s6SHqSEmQk" target="_blank">Join the server</a>
        </mat-card-content>
    </mat-card>


    
    </div>
    
</div>


   
    <!-- put this one on right -->

    
    





