<div class="page">
    <!-- put this one on left  -->
    <mat-card class="carte-left">
        <mat-card-header>
            <mat-card-title>Test creation </mat-card-title>
            <mat-card-subtitle>To create the test on the database</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
          <p>Action : </p>
            <mat-form-field>
    
                <mat-label>Action type</mat-label>
            <mat-select [(value)]="actionModel" >
                <mat-option *ngFor="let act of actions" [value]="act.id">{{act.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <div *ngIf="actionModel==3 || actionModel==1 || actionModel==5">
            <mat-divider></mat-divider>
            <p>C-rate (%) :</p>
        <mat-slider  min="0" max="100" step="1"  showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb [(value)]="cratePercent">
          </mat-slider>
        </div>
    
    
    
        <mat-divider></mat-divider>
        <p>Cell : </p>
        <mat-form-field>
                <mat-label>Cells selected</mat-label>
            <mat-select (selectionChange)="addCellected()" [(value)]="this.cellModel">
                <mat-option  *ngFor="let cel of cells" [value]="cel.id">{{cel.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-chip-set aria-label="Fish selection">
            <mat-chip *ngFor="let cel of cellSelected" (click)="removeCellected(cel.id)">{{cel.name}}</mat-chip>
        </mat-chip-set>
    
            <mat-divider></mat-divider>
    
            <p>Estimator : </p>
            <mat-form-field>
    
                <mat-label>Estimator selected</mat-label>
            <mat-select (selectionChange)="addObserver()" [(value)]="this.observerModel">
                <mat-option *ngFor="let cel of observers" [value]="cel.id">{{cel.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-chip-set aria-label="Fish selection">
            <mat-chip *ngFor="let cel of observerSelected" (click)="removeObserver(cel.id)">{{cel.name}}</mat-chip>
        </mat-chip-set>
    
            <mat-divider></mat-divider>
    
            <p>Commentary : </p>
            <mat-form-field>
                <mat-label>Commentary</mat-label>
                <textarea matInput [value]="commentModel"
                (input)="getValueComment($event)"></textarea>
            </mat-form-field>
    
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="submitFormulary()">Create the test</button>
        </mat-card-actions>
    </mat-card>
    
    
    <mat-card class="carte-right">
        <mat-card-header>
            <mat-card-title>Dataset export </mat-card-title>
            <mat-card-subtitle>To export dataset from the database</mat-card-subtitle>
        </mat-card-header>
        <p>Test : </p>
        <mat-form-field>
            <mat-label>Test selected</mat-label>
        <mat-select [(value)]="this.testModel">
            <mat-option  *ngFor="let test of tests" [value]="test.id">{{test.name}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-card-actions>
            <button mat-button (click)="downloadTest()">Export dataset</button>
        </mat-card-actions>
    </mat-card>
    
    <!-- put this one on right -->
    <mat-card class="carte-right">
        <mat-card-header>
            <mat-card-title>Dataset import </mat-card-title>
            <mat-card-subtitle>To import dataset into the database</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="submitFormulary()">Import dataset</button>
        </mat-card-actions>
    </mat-card>
    
    
    <mat-card class="carte-right-float">
        <mat-card-header>
            <mat-card-title>Create new cell </mat-card-title>
            <mat-card-subtitle>To create a new cell into the database</mat-card-subtitle>
        </mat-card-header>
        <p>Cell name : </p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <textarea matInput [value]="newCellName"
            (input)="getValueCell($event)"></textarea>
        </mat-form-field>
        <mat-card-actions>
            <button mat-button (click)="createCell()">Create cell</button>
        </mat-card-actions>
    </mat-card>







</div>

<mat-card class="carte-right-github">
    <mat-card-header>
        <mat-card-title>Last github update</mat-card-title>
        <mat-card-subtitle>See the last github update</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <p>{{githubCommitName}}</p>
        <p>{{githubCommitDate | date:"dd MMM, yyyy "}}</p>
        <p>{{githubCommitPseudo}}</p>
        <img src="{{githubCommitPicture}}" alt="github commit picture" width="100" height="100"> -->
        <p><b>By:</b><img src="{{githubCommitPicture}}" alt="github commit picture" width="15" height="15"> {{githubCommitPseudo}}</p>
        <p><b>On:</b> {{githubCommitDate | date:"dd MMM, yyyy "}}</p>
        <p><b>Commit:</b> {{githubCommitName}}</p>
    </mat-card-content>
</mat-card>

<mat-card class="carte-left-github">
    <mat-card-header>
        <mat-card-title>Discord server</mat-card-title>
        <mat-card-subtitle>Join the discord server to know when the test are over</mat-card-subtitle>
    </mat-card-header>
    <p></p>
    <p></p>
    <p></p>
    <mat-card-content>
        <a href="https://discord.gg/th7faSBj" target="_blank">Join the server</a>
    </mat-card-content>
</mat-card>

